/* stylelint-disable csstree/validator */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:
    "Open Sans",
    "Lucida Grande",
    "tahoma",
    "verdana",
    "arial",
    sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272727;
  justify-content: center;
}

header {
  padding: 50px 0 30px 50px;
  width: 100%;
  max-width: 1500px;
  background-color: #272727;
  text-shadow: #850121 4px 4px;
  border: #e7e7e7 solid 2px;
  border-bottom: none;
  flex-wrap: wrap;
}

h1 {
  color: #e7e7e7;
  font-size: clamp(1rem, 10vw, 7rem);
}

h2 {
  color: #e7e7e7;
}

main {
  border: #e7e7e7 solid 2px;
  border-top: none;
  background-color: #272727;
  padding: 5% 2.5%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1500px;
  justify-content: center;
}

.scores_container {
  width: 50%;
  min-width: 320px;
  display: block;
  padding: 0 2%;
  margin-bottom: 50px;
}

.scores_header_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
}

.btn {
  padding: 5px 10px;
  background-color: #e7e7e7;
  color: #272727;
  box-shadow: #850121 5px 5px;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 500;
  transition: all ease 0.5s;
  border: none;
}

.btn:hover {
  background-color: #4f2c34dc;
  color: #e7e7e7;
}

.scores_list {
  margin-top: 30px;
  border: #e7e7e7 solid 2px;
}

.score {
  list-style: none;
  padding: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #e7e7e7;
}

.score:nth-child(odd) {
  background: #323232;
}

.add_score_container {
  width: 50%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2%;
  font-size: 1.7rem;
  margin-bottom: 100px;
}

form {
  margin-top: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 150px;
  position: relative;
}

input {
  width: 300px;
  padding: 5px;
  border: #e7e7e7 solid 2px;
  margin-bottom: 20px;
}

input::-webkit-input-placeholder {
  color: #28282b;
  font-size: 1rem;
  font-weight: 500;
}

.submit_button {
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}

footer {
  width: 100%;
  min-height: 50px;
  border: #e7e7e7 solid 2px;
  background-color: #e7e7e7;
  max-width: 1500px;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
